## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
n=range(100)
print(n)

range(0, 100)

In [3]:
sample_list = random.sample(n,80)

print(sample_list)

[19, 90, 74, 28, 98, 21, 4, 13, 69, 80, 68, 94, 0, 87, 52, 73, 96, 39, 53, 27, 55, 84, 23, 63, 59, 1, 93, 41, 66, 79, 64, 47, 32, 16, 24, 22, 43, 18, 48, 72, 33, 3, 30, 97, 81, 95, 8, 91, 42, 7, 17, 57, 65, 25, 86, 77, 99, 9, 29, 14, 76, 12, 56, 70, 58, 92, 26, 83, 40, 31, 46, 89, 88, 60, 2, 11, 15, 38, 78, 82]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
set1=set(sample_list)
print(set1)
print(len(set1))
#mismo n√∫mero de elementos#

{0, 1, 2, 3, 4, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 38, 39, 40, 41, 42, 43, 46, 47, 48, 52, 53, 55, 56, 57, 58, 59, 60, 63, 64, 65, 66, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2=[]

for i in n:
    x=random.choice(n)
    sample_list_2.append(x)
    
print(sample_list_2)

[72, 18, 85, 9, 95, 30, 48, 58, 27, 80, 17, 14, 25, 25, 39, 59, 84, 44, 11, 50, 46, 94, 78, 49, 54, 44, 39, 97, 58, 28, 76, 61, 27, 79, 0, 85, 19, 98, 83, 55, 93, 68, 51, 2, 42, 40, 50, 32, 80, 35, 46, 45, 82, 81, 37, 43, 6, 91, 24, 33, 41, 15, 20, 12, 18, 56, 22, 87, 74, 29, 36, 52, 42, 97, 28, 2, 20, 35, 54, 76, 72, 49, 24, 77, 18, 96, 69, 46, 11, 60, 1, 41, 33, 81, 22, 70, 46, 61, 37, 65]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)

print(len(set2))
len(set2)==80
print(set2)

69
{0, 1, 2, 6, 9, 11, 12, 14, 15, 17, 18, 19, 20, 22, 24, 25, 27, 28, 29, 30, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 65, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 91, 93, 94, 95, 96, 97, 98}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
# Your code here

set3=set()

for item in set1:
    if item not in set2:
        set3.add(item)


print(set3)
print(len(set3))

{3, 4, 7, 8, 13, 16, 21, 23, 26, 31, 38, 47, 53, 57, 63, 64, 66, 73, 86, 88, 89, 90, 92, 99}
24

In [23]:
set3=set()

set1.difference_update(set2)

set3.update(set1)

set3

{3,
 4,
 7,
 8,
 13,
 16,
 21,
 23,
 26,
 31,
 38,
 47,
 53,
 57,
 63,
 64,
 66,
 73,
 86,
 88,
 89,
 90,
 92,
 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [91]:
set4=set()

for item in set2:
    if item not in set1:
        set4.add(item)


print(set4)

{3, 37, 41, 77, 49, 19, 86, 55, 88, 57, 93, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
# Your code here
set5=set()

for item in set1:
    if item in set2:
        set5.add(item)

print(set5)

{0, 1, 2, 9, 11, 12, 14, 15, 17, 18, 19, 22, 24, 25, 27, 28, 29, 30, 32, 33, 39, 40, 41, 42, 43, 46, 48, 52, 55, 56, 58, 59, 60, 65, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 91, 93, 94, 95, 96, 97, 98}

In [28]:
set5=set1.intersection(set2)
print(set5)

{0, 1, 2, 9, 11, 12, 14, 15, 17, 18, 19, 22, 24, 25, 27, 28, 29, 30, 32, 33, 39, 40, 41, 42, 43, 46, 48, 52, 55, 56, 58, 59, 60, 65, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 91, 93, 94, 95, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [84]:
print(len(set2)/len(set1))

print(len(set3)/len(set2))

print(len(set3)/len(set1))

print(len(set3)/len(set2))

print(len(set4)/len(set1))

print(len(set4)/len(set2))

print(len(set5)/len(set1))

print(len(set5)/len(set2))

#he hecho las divisiones de las lenghts, pero no he entendido muy bien la pregunta#

0.8
0.4375
0.35
0.4375
0.15
0.1875
0.65
0.8125

#### Create an empty set called `set6`.

In [64]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [65]:
r=set3.union(set5)
set6.update(r)
print(set6)

{0, 1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 80, 83, 84, 85, 87, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [66]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [67]:
set2.issubset(set1)

False

In [68]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
r=set3.union(set4)
s=set5.union(r)

t=set1.union(set2)

s==t

True

#### Using the `pop` method, remove the first element from `set1`.

In [50]:
# Your code here

#no he conseguido eliminar el primer valor usando pop. He pensado en revertir el √≥rden del set,# 
#pero no ha parecido la mejor forma de hacerlo y no se me ha ocurrido otra#

AttributeError: 'set' object has no attribute 'index'

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [31]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.discard(i)
        
print(set1)

{0, 2, 3, 4, 7, 8, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 38, 40, 42, 43, 46, 47, 48, 52, 53, 55, 56, 57, 58, 60, 63, 64, 65, 66, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}

In [33]:
set1.discard(list)

In [34]:
set1

{0,
 2,
 3,
 4,
 7,
 8,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 38,
 40,
 42,
 43,
 46,
 47,
 48,
 52,
 53,
 55,
 56,
 57,
 58,
 60,
 63,
 64,
 65,
 66,
 68,
 70,
 72,
 73,
 74,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 86,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98}